In [1]:
a=int(input("점수입력1:"))
b=int(input("점수입력2:"))
c=int(input("점수입력3:"))

bool(65>a and 65>b and 65>c)

점수입력1:100
점수입력2:40
점수입력3:60

False

In [7]:
a="20190505chicken19000"
year=a[0:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]

In [9]:
print(money)
print(day)
print(menu)
print(money)

19000
0505
chicken
19000

In [10]:
math = 80
english=60

In [17]:
a="수학점수:{1}, 영어점수:{0}, {0}".format(math, english)

In [18]:
print(a)

수학점수:60, 영어점수:80, 80

In [37]:
a ="iiililililidsidli"
print(a.count('i'))

9

In [22]:
a = "         공백이 너무 많아요.              "
print(len(a))
print(a.rstrip())

34
         공백이 너무 많아요.

In [39]:
a= " 90:30:80  "

a.strip()
math, english, science = a.strip().split(":")

In [40]:
math, english, science

('90', '30', '80')

In [41]:
average = (int(math)+ int(english)+ int (science))/3
average

66.66666666666667

In [43]:
a = int(input("정수를 입력해주세요:"))
for i in range(a):
    print("안녕")

정수를 입력해주세요:5
안녕
안녕
안녕
안녕
안녕

In [79]:
a = int(input("정수를 입력해주세요:"))
for i in range(a):
        print(('*'*(i+1)))

정수를 입력해주세요:5
*
**
***
****
*****

In [75]:
a = int(input("정수를 입력해주세요:"))
for i in range(a):
        print('*'*(a-i))

정수를 입력해주세요:5
*****
****
***
**
*

In [6]:
x = [3,6,9,20,-7,5]
x = [i*10 for i in x]
print(x)

[30, 60, 90, 200, -70, 50]

In [10]:
s = {"math":70,"science":80, "english":20}
for k in s:
    val = s[k] + 10
    print("%s:%s"%(k,val))

math:80
science:90
english:30

In [118]:
a = int(input("정수를 입력해주세요:"))
for i in range(a,a+1):
    for k in range(1,10):
        print(i,'*',k,'=',a*k)

정수를 입력해주세요:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [11]:
word = ["school","game","piano","science","hotel","mountian"]

In [2]:
for i in range(1,10):
    for k in range(1,10):
        print(i,'*',k,'=',i*k)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [13]:
for i in range(1,101):
    if i %3 ==0:
        print("%s는 3의배수"%i)
        if i %5 ==0:
            print("%s는 5의배수"%i)
    elif i%5 ==0:
        print()

3는 3의배수

6는 3의배수
9는 3의배수

12는 3의배수
15는 3의배수
15는 5의배수
18는 3의배수

21는 3의배수
24는 3의배수

27는 3의배수
30는 3의배수
30는 5의배수
33는 3의배수

36는 3의배수
39는 3의배수

42는 3의배수
45는 3의배수
45는 5의배수
48는 3의배수

51는 3의배수
54는 3의배수

57는 3의배수
60는 3의배수
60는 5의배수
63는 3의배수

66는 3의배수
69는 3의배수

72는 3의배수
75는 3의배수
75는 5의배수
78는 3의배수

81는 3의배수
84는 3의배수

87는 3의배수
90는 3의배수
90는 5의배수
93는 3의배수

96는 3의배수
99는 3의배수